<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore explicabo ad rerum ipsam possimus voluptates, pariatur sunt soluta aut dicta quidem, ex veniam. Fugiat vitae repellat, 
        qui sequi iure reprehenderit temporibus suscipit labore dicta quis earum? Perspiciatis id vel maiores.</p>
    </div>
</div>