<div class="jumbotron mt-4">
    <h1 class="display-4">Notes APP | NodeJS & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, esse quas non illo ullam quisquam 
        expedita ad dolor quia explicabo nihil officia dicta tempore rerum soluta ut sit sint. Nostrum!</p>
    <a href="http://github.com/fransempe" class="btn btn-primary btn-lg">Github</a>
</div>